body
{
    background-image: url('bg.jpg');
}
h1
{
    color: #ffffff;
    font-family: "Arial Rounded MT Bold";
}

h5
{
    color: #ffffff
}
h6
{
    color: #ffffff
}
p
{
    color: #ffffff
}

li
{
    color: #ffffff
}
