{% extends "base.html" %}


{% block content %}
<h1>Как получить код доступа?</h1>
<div>
    <p><img src="/static/img/code.webp" alt="..."  height="300" width="450" align="left" ></p>

        <p style="font-size: 24px" class="card-text">Приложение было создано эксклюзивно для лицея 1533 г. Москвы.
            В целях безопасности им могут пользоваться только ученики лицея. Чтобы получить код:</p>
          <p style="font-size: 24px" class="card-text">Напишите на почту<br>
              <a href="mailto:danik.khromov@icloud.com?subject=Запрос доступа" style="color:white"><em>danik.khromov@icloud.com</em></a></p>
    <p style="font-size: 24px" class="card-text">Напишите в VK <br><a href="https://vk.com/dan0nchik" style="color:white"><em>http://vk.com/dan0nchik</em></a></p>
</div>
<h2></h2>
{%endblock%}