{% extends "base.html" %}


{% block content %}
<div>
<h1>Опоздали или опаздываете на урок?</h1>
    <p><a href="https://apps.apple.com/us/app/latelit/id1499192414"><img src="/static/img/app.webp" alt="..."  height="65" width="222" align="right" ></a></p>
<h1>Напишите об этом через LateLit!</h1>
</div>
<p>
<img src="/static/img/index.webp" alt="..." align="center">
<h5>Функции</h5>
<div>
<ul>
    <li>Отправка сообщений об опозданиях</li>
    <li>Вывод опозданий удобным списком</li>
</ul>
<p style="font-size: 24px">Приложение создано эксклюзивно для <br><a href="https://www.lit.msu.ru/" style="color:white"><em>Лицея 1533</em></a></p>
<p style="font-size: 20px">Даниил Хромов, Артем Рукавица, Глеб Григорьев, 2020</p>
</div>
{%endblock%}